@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.feature-png-container{
    
}

.feature-png-image{
    position: absolute;
    top: -50%;
} 

// Example usage:
@include media-breakpoint-down(md) {

    .site-content{
        overflow: hidden;
    }
    
    
.feature-png-container{
      min-height: 80px;
      height: 80px;
    
}

     
.feature-png-image{
    top: -50px;
    width: 500px;
    left: 10%;
}
    
}


// Example usage:
@include media-breakpoint-down(sm) {

    .site-content{
        overflow: hidden;
    }
    
    
.feature-png-container{
    height: 100px;
    min-height: 100px;
    top: 0px;
}

.bg-shape{
    width: 20%;
    }
    
.feature-png-image{
    top: -150px;
    width: 500px;
    left: 60%;
}
    
.bg-shape{
    width: 20%;
    // height: 50%;
    // opacity: 0.3;
}
    
    
}

// Example usage:
@include media-breakpoint-down(xs) {

    .site-content{
        overflow: hidden;
    }
    
    
.feature-png-container{
      min-height: 100px;
    display: none;
}

.bg-shape{
    width: 20%;
    height: 50%;
    // opacity: 0.3;
    }
    
    
    
}