.banner {
  z-index: 1;
}

.carousel-container {
  overflow: hidden;
  border-radius: 40px;
  height: 100%;
  min-height: 450px;
  max-height: 500px;
}

.content {
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 1.05rem;
}

.overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    white 0%,
    white 10%,
    transparent 37%
  );
  &-text {
    position: absolute;
    color: $accent;
    font-weight: bold;
    font-size: 1.4rem;
    left: 2.8rem;
    bottom: 1.4rem;
    z-index: 10;
  }
}

.banner-circle {
  position: absolute;
  top: -100px;
  left: -150px;
  z-index: -1;
  & img {
    width: 30rem;
  }
}

.round-image {
  max-width: 30rem;
  max-height: 30rem;
  width: 37vw;
  height: 37vw;
  min-width: 285px;
  min-height: 285px;
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-us {
  &__svg--top {
    position: absolute;
    z-index: -1;
    top: 2.5rem;
    left: 3.5rem;
    & img {
      width: 12rem;
    }
  }
  &__svg--bottom {
    position: absolute;
    z-index: -1;
    bottom: 4.5rem;
    right: 4.5rem;
    & img {
      width: 10rem;
    }
  }
}
.services {
  &__svg {
    position: absolute;
    z-index: -1;
    &--top {
      top: -6rem;
      left: -6rem;
      & img {
        width: 8rem;
      }
    }
    &--bottom {
      left: 25%;
      right: 0;
      bottom: 1rem;
      & img {
        width: 11rem;
      }
    }
    &--circle {
      top: -35%;
      left: -25%;
      & img {
        max-width: 200px;
        min-width: 150px;
        width: 30vw;
      }
    }
  }
  .people {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60vw;
    min-width: 400px;
    max-width: 810px;
  }
}

.card {
  background-color: $light;
  padding: 3rem 2rem;
  border-radius: 30px;
  box-shadow: 0 7px 12px rgba(black, 0.16);
  display: flex;
  flex-direction: column;

  &__body {
    padding: 2rem 0;
  }
  &__footer {
    margin-top: auto;
  }
  &__title {
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__content {
    font-size: .95rem;
  }
}

.testimonial {
  background-image: linear-gradient(
    to top,
    $primary-dark 0%,
    $primary-dark 15%,
    $primary 57%
  );
}

.blog {
  position: relative;
  &__svg {
    position: absolute;
    z-index: -1;
    &--bottom {
      bottom: 1.5rem;
      right: 2.5rem;
      & img {
        width: 12rem;
        height: 12rem;
      }
    }
    &--top {
       top: 19rem;
      left: 1.5rem;
      & img {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

.how-to {
  position: relative;
  z-index: 1;
  &__svg {
    position: absolute;
    z-index: -1;
    &--bottom {
      right: 4rem;
      bottom: 4rem;
      & img {
        width: 8.5rem;
        height: 8.5rem;
      }
    }
    &--top {
       top: 2rem;
      left: 6rem;
      & img {
        width: 8.5rem;
        height: 8.5rem;
      }
    }
  }
}

.cta {
  padding: 3rem 0;
  background-image: linear-gradient(to right, $primary, #257fb7, #7425b7);
}

// media queries
@media only screen and (max-width: 1450px) {
  .carousel-container {
    max-height: 380px;
  }
  .display-3 {
    font-size: 3.3rem;
  }
  .content {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .display-3 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 992px) {
  .mb-small {
    margin-bottom: 3rem;
  }
  .center-small {
    text-align: center;
  }
  .carousel-container {
    max-width: 550px;
    min-height: 320px;
  }
  .services {
    &__svg {
      &--bottom {
        left: 70%;
        & img {
          width: 9rem;
        }
      }
      &--circle {
        top: 0;
        left: -1rem;
        & img {
          max-width: 180px;
        }
      }
    }
    .people {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translateY(-50%) translateX(50%);
      width: 60vw;
      min-width: 400px;
      max-width: 810px;
    }
  }
  .card {
    max-width: 300px;
    margin: 0 auto;
  }
  .banner-circle {
    & img {
      width: 25rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .display-3 {
    font-size: 2.5rem;
  }
  .container {
    padding: 0 0.5rem;
  }
  .carousel-container {
    min-height: 250px;
  }
  .banner-circle {
    top: -50px;
    left: -95px;
    & img {
      width: 15rem;
    }
  }
}
